  /* Control the left side */
  .left {
    position: fixed;
    text-align: center;
    width: 50%;
    height: 100%;
    left: 0;
    background-color: #87CEEB;
    justify-content: center;
  } 
  
  /* Control the right side */
  .right {
    /* right: 0; */
    background-color:white;/* black; */
    position: fixed;
    width: 50%;
    height: 100%;
    left:50%;
  }
  
  .pageButton{
    height:25px;
    width:100px;
  }

  /* .pageButtons {
    position: fixed;
    left:25%;
  } */

  #slider {
    width: 100%; /* Width of the outside container */
  }

  #k {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

  #k {
    opacity: 1; /* Fully shown on mouse-over */
  }

  h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 10px;
    margin: auto;
  }

  h2 {
    font-size: 24px;
    text-align: center;
    margin: auto;
  }

  * {
    font-size: 100%;
    font-family: Verdana, Helvetica, sans-serif;
   }

  body{
    margin-top : 0px;
  }

  div.tooltip {	
    position: absolute;			
    text-align: left;							
    height: 28px;					
    padding: 2px;				
    font: 16px sans-serif;		
    border: 0px;			
    pointer-events: none;		
}